<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">2015SIEtf</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tim2test?createDatabaseIfNotExist=true</property>
  <property name="hibernate.connection.username">EtfSI2015</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping resource="tim12/si/app/godisnji_odmori/Model/Kalendar.hbm.xml"/>
  <mapping resource="tim12/si/app/godisnji_odmori/Model/Odsustvo.hbm.xml"/>
  <mapping resource="tim12/si/app/godisnji_odmori/Model/Prisustvo.hbm.xml"/>
  <mapping resource="tim12/si/app/godisnji_odmori/Model/Sektor.hbm.xml"/>
  <mapping resource="tim12/si/app/godisnji_odmori/Model/TipOdsustva.hbm.xml"/>
  <mapping resource="tim12/si/app/godisnji_odmori/Model/Zahtjev.hbm.xml"/>
  <mapping resource="tim12/si/app/godisnji_odmori/Model/Zaposlenik.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
